/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   RESET CSS
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS reset */

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
	background-color: #e2ece9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#title {
    text-align: center;
	font-size: 2em;
	margin-top: 10px;
	margin-bottom: 10px;
}

#description {
	text-align: center;
	font-size: 1em;
	margin: 15px 0;
}

.container {
    background-color: white;
    width: 90%;
    max-width: 400px;
	box-shadow: 0px 0px 10px #6c757d;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.form-elements {
padding: 20px 0 20px 0px;
padding-left: 10%;
}

#name-label {
	display: block;
	padding-bottom: 10px;
}

#name {
	border: none;
	border-bottom: 2px solid black;
	width: 80%;
}

#name:focus {
	border: none;
	border-bottom: 2px solid #B5F44A;
	outline: none;
}

#email-label {
	display: block;
	padding-bottom: 10px;
}

#email {
	border: none;
	border-bottom: 2px solid black;
	width: 80%;
}

#email:focus {
	border: none;
	border-bottom: 2px solid #B5F44A;
	outline: none;
}

#number-label {
	display: block;
	padding-bottom: 10px;
}

#number {
	border: none;
	border-bottom: 2px solid black;
	width: 80%;
}

#number:focus {
	border: none;
	border-bottom: 2px solid #B5F44A;
	outline: none;
}

#select-label {
	display: block;
	padding-bottom: 10px;
	width: 80%;
	line-height: 1.2em;
}

#dropdown {
	border: none;
	border-bottom: 2px solid black;
	width: 80%;
}

#dropdown:focus {
	border: none;
	border-bottom: 2px solid #B5F44A;
	outline: none;
}

.form-label {
	display: block;
	padding-bottom: 10px;
	width: 80%;
	line-height: 1.2em;
}

#suggestions-label {
	display: block;
	padding-bottom: 10px;
	width: 80%;
}

textarea {
	width: 80%;
	font-family: 'Roboto', sans-serif;
	border: 2px solid black;
}

#suggestions:focus {
	border: 2px solid #B5F44A;
	outline: none;
}

#submit {
	background-color: #B5F44A;
	border-radius: 5px;
	width: 30%;
	border: none;
	padding: 7px 0;
	font-family: 'Roboto', sans-serif;
}



